# SQL CLAUSES
- Clauses are in-built functions available to us in SQL.
- Clauses perform specific tasks in SQL.
- By convention clauses are written in UPPERCASE.
- Clauses are also called commands
- Clauses help us filter and analyze data quickly.
- When we have large amounts of data stored in the database, we use Clauses to query and get data required by the user.
 
# Basic structure of an SQL Statements
<code> CREATE TABLE table_name (
    column_1 datatype,
    column_2 datatype,
    column_3 datatype
);</code>

 ## CREATE TABLE: 
 Used to create a new table in the database. You define the table's structure by specifying column names and data types.

<code> CREATE TABLE students (
    ID INTEGER,
    name TEXT,
    age INTEGER
);</code>

 ## INSERT: 
 Allows you to add new data (rows) into a table.

 <code>INSERT INTO students(ID, name, age)
 VALUES (1, 'gladys', 20)</code>

## SELECT: 
Used to retrieve data from a database table. You can specify which columns you want to fetch and apply conditions to filter the rows you need.
  
<code>SELECT *
FROM students;</code>

</code> * indicates we want to select all colomns. We can also select individual columns ( SELECT name FROM students )
FROM students - Specifies the table we want to query the data from.</code>

## ALTER TABLE:
Enables you to modify an existing table's structure. You can add, modify, or delete columns.

<code>
ALTER TABLE students
ADD COLUMN school TEXT;
 <!-- The row that existed before the column was created have NULL value for school column -->
</code>

## UPDATE: 
Used to modify existing data in a table. You can specify which rows to update and what changes to make.

<code>
UPDATE students
SET home='Frankfurt'
WHERE ID=1;

<!-- SET - Indicates the column we want to update. -->
<!-- WHERE - Indicates which row to update with the new column value. -->
</code>

## DELETE:
Allows you to remove data (rows) from a table. Similar to UPDATE, you can specify conditions to delete specific rows.

<code>DELETE FROM students 
WHERE home IS NULL;</code>

## DROP TABLE: 
like deleting an entire table and its data from the database.

<code>DROP TABLE students;</code>

## SQL Clauses and Keywords:

 WHERE Clause: Allows you to filter rows based on specific conditions. It is used with SELECT, UPDATE, and DELETE statements to narrow down the rows affected.

 ORDER BY: Used to sort the result set of a query in ascending or descending order based on one or more columns. This helps in organizing data for analysis.

 GROUP BY: Empowers you to group rows based on the values in one or more columns. It is typically used with aggregate functions like SUM, COUNT, AVG, etc., to summarize data within each group.

## Constraints
- Constraints that add infromation about how a column can be used are invoked after specifying data type for a column.
- They can be used to tell the database to reject inserted data that does not adhere to a certain restriction.

<code>CREATE TABLE pupils (
    id INTEGER PRIMARY KEY,
    name TEXT UNIQUE,
    date_of_birth TEXT NOT NULL,
    networth TEXT DEFAULT 'Unknown'
);
 PRIMARY KEY - Used to uniquely identify a record.
 UNIQUE - Columns have a different value for each row
 NOT NULL - The field cannot be null.
 Default - If the value is not specified 'Unknown' will be the default value.</code>

## READ MORE NOT COVERED
- PRIMARY KEY vs FOREIGN KEY
- SQL AGGREGATE FUNCTIONS
- Relationships.
- stored procedures
- Trigger and events
- Transaction and cocurrency
- Design databases
- indexing
- securing databases

1 ) https://www.w3schools.com/mysql/default.asp

2 ) https://www.youtube.com/watch?v=7S_tz1z_5bA

- Africa-Data-School